*{
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica';
}

a{
  text-decoration: none !important;
}

.title-centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

.links{
  color:black;
}